@charset "UTF-8";

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #D95A4E, #8C3730);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #441b1798;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #8C3730;
}
#principal{
    text-align: center;
    background-color: #734848;
    color: #F2F2F2;
}
h2 {
    color: #734848;
}
.basico{
    color: #707348;
    font-weight: bold;
}
.intermediario {
    color: #736248;
}
.avancado {
    color: #734848;
}