@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@font-face {
    font-family: 'Xilosa';
    src: url('../fonts/xilosa_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font1: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    --font2: 'Passion One', 'sans-serif';
    --font3: 'Xilosa', 'Passion One', 'sans serif';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background: darkgray;
    font-family: var(--font1);
}

header {
    background: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--font2);
    font-weight: normal;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1.5em;
    font-size: 3vw;
}

section.normal {
    background: white;
    color: black;
}

section.imagem {
    background: rgb(65, 65, 65);
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

footer {
    padding: 5px;
    font-size: 0.6em;
    background: black;
    color: white;
    text-align: center;
}