@charset "UTF-8";

body {
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: crimson;
    background-color: rgb(216, 128, 190);
}
h2 {
    color: darkblue;
}
p {
    text-align: justify;
}