@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/madeira_full.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 630px;
    width: 312px;
    background: url('../imagens/frame_smatphone_312.png') no-repeat;
}

#tela {
    position: relative;
    top: 13px;
    left: 16px;
    border-radius: 32px;
    width: 280px;
    height: 604px;
}