@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #506266, #10454F);
}

main {
    background-color: #203033;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #0b2e3596;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BDE038;
    text-align: center;
    text-shadow: 1px 1px 2px #61741dc4;
}

h2 {
    color: #A3AB78;
}

p {
    text-align: justify;
    color: #818274;
}